<div class="container main-div">
  <div class="row">
    <div class="col-sm-2 col-cstm">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="/home">Home</a>
        <a class="list-group-item list-group-item-action" href="/stats">Statistics</a>
      </div>
    </div>
    <div class="col-sm-10">

      <div class="cstm-charts offset-2 pb-5">
        <ngx-charts-bar-vertical
          [view]="view"
          [results]="chartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations">
        </ngx-charts-bar-vertical>
      </div>


      <div class="mb-3">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button class="btn btn-link btn-l link-dark" style="text-decoration: none" (click)="showData('inputs')">All
              User Inputs
            </button>
            @if (inputs$ | async; as inputs) {
              <span class="badge bg-secondary badge-pill">{{ inputs.length }}</span>
            }
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button class="btn btn-link link-dark" style="text-decoration: none"
                    (click)="showData('averageWeekScores')">Average Week Scores
            </button>
            @if (averageWeekScores$ | async; as averageWeekScores) {
              <span class="badge bg-secondary badge-pill">{{ averageWeekScores.length }}</span>
            }
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button class="btn btn-link link-dark" style="text-decoration: none"
                    (click)="showData('averageMonthScores')">Average Month Scores
            </button>
            @if (averageMonthScores$ | async; as averageMonthScores) {
              <span class="badge bg-secondary badge-pill">{{ averageMonthScores.length }}</span>
            }

        </ul>
      </div>

      <div class="table-responsive-lg mt-2">
        <table class="table table-hover table-wrap custom-scroll animated fast fadeInRight borderless">
          <thead class="table-light border-secondary-subtle">
          <tr>
            <th>Date</th>
            @if (currentData === 'inputs') {
              <th>Text</th>
            } @else {
              <th>Sentiment</th>
              <th>Joy</th>
              <th>Sadness</th>
              <th>Anger</th>
              <th>Fear</th>
              <th>Disgust</th>
            }
          </tr>
          </thead>
          <tbody>
            @if (currentData === 'inputs' && inputs$ | async; as inputs) {
              @for (input of inputs; track input.id) {
                <tr>
                  <td>
                    <a (click)="showDetails(input.id)">
                      {{ input.date | date:'dd.MM.yyyy' }}
                    </a>
                  </td>
                  <td>
                    <a (click)="showDetails(input.id)">
                      {{ input.text | truncateWords:30 }}
                    </a>
                  </td>
                  <td>
                    <button (click)="showDetails(input.id)">Details</button>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="3" class="text-center">
                    <h5 class="mt-2"><i class="fa fa-exclamation-triangle"></i> No user inputs found</h5>
                  </td>
                </tr>
              }
            }

            @if (currentData === 'averageWeekScores' && averageWeekScores$ | async; as averageWeekScores) {
              @for (score of averageWeekScores; track score.week) {
                <tr>
                  <td>
                    <a (click)="showDetails(score.week)">
                      {{ score.week | date:'dd.MM.yyyy' }}
                    </a>
                  </td>
                  <td>{{ score.avg_sentiment_score }}</td>
                  <td>{{ score.avg_joy_score }}</td>
                  <td>{{ score.avg_sadness_score }}</td>
                  <td>{{ score.avg_anger_score }}</td>
                  <td>{{ score.avg_fear_score }}</td>
                  <td>{{ score.avg_disgust_score }}</td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="7" class="text-center">
                    <h5 class="mt-2"><i class="fa fa-exclamation-triangle"></i> No average week scores found</h5>
                  </td>
                </tr>
              }
            }

            @if (currentData === 'averageMonthScores' && averageMonthScores$ | async; as averageMonthScores) {
              @for (score of averageMonthScores; track score.month) {
                <tr>
                  <td>
                    <a (click)="showDetails(score.month)">
                      {{ score.month | date:'dd.MM.yyyy' }}
                    </a>
                  </td>
                  <td>{{ score.avg_sentiment_score }}</td>
                  <td>{{ score.avg_joy_score }}</td>
                  <td>{{ score.avg_sadness_score }}</td>
                  <td>{{ score.avg_anger_score }}</td>
                  <td>{{ score.avg_fear_score }}</td>
                  <td>{{ score.avg_disgust_score }}</td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="7" class="text-center">
                    <h5 class="mt-2"><i class="fa fa-exclamation-triangle"></i> No average month scores found</h5>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
