.navbar-nav.ml-auto {
  margin-left: auto !important;
  padding-right: 1rem;
}

.navbar-brand{
  padding-left: 1rem;
}

.bg-custom {
   background: rgba(255, 140, 0, 0.9);
}

.nav-link {
  color: white;
  font-size: 1.3em;
  padding-left: 2em;
}

.nav-link:hover {
     color: rgba(255, 220, 99, 0.8);
}
