<div class="background-container">
  <div class="background-overlay"></div>


  <!--  GRID CONTENT STARTS HERE-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 custom-font-size">About Us</div>
      <div class="col-sm-8 custom-font-size-description">
        Welcome to your Emotional Analysis Diary, a cutting-edge web app developed by Marija Nikolić,
        a student at the University of Zadar, as part of her bachelor's thesis.
        Our app leverages IBM Watson's Natural Language Processing (NLP) to
        analyze your diary entries and provide insights into your emotional well-being.
      </div>

      <div class="w-100"></div>
      <div class="col custom-font-size-description">
        <h2>How It Works</h2>
        Our Emotional Analysis Diary uses IBM Watson's NLP to process your diary entries. You simply write about your
        day,
        and Watson's sophisticated algorithms analyze the text to detect and interpret various emotional cues.
        These insights are then aggregated to provide a comprehensive view of your emotional state on a weekly and
        monthly basis,
        helping you track your mental health over time.
      </div>
      <div class="col-sm-4">
        <img src="/assets/images/writing.jpg" alt="Nature Background" class="image-size">
      </div>

      <div class="w-100"></div>
      <div class="col-sm-4">
        <img src="/assets/images/psychology.jpg" alt="Nature Background" class="image-size">
      </div>
      <div class="col custom-font-size-description">
        <h2>Psychology</h2>
        The emotional analysis is based on principles of affective computing and psychological theories of emotion,
        particularly the work of psychiatrist Paul Ekman. IBM Watson NLP identifies emotions such as joy, sadness,
        anger, fear,
        and disgust within your text entries. This analysis is grounded in psychological research that connects language
        use with emotional states,
        allowing the app to provide a nuanced understanding of your emotional landscape.
      </div>

      <div class="w-100 "></div>
      <div class="col custom-font-size-description">
        <h2>Bacc Thesis</h2>
        This project, created for a bachelor's degree thesis by Marija Nikolić, aims to bridge technology and psychology by offering a
        practical tool for emotional self-awareness and well-being. The thesis explores the effectiveness of using NLP for emotional
        analysis and concludes that such tools can significantly enhance individuals' understanding of their mental health,
        promoting proactive management of emotional well-being.
      </div>
      <div class="col-sm-4">
        <img src="/assets/images/degree.jpg" alt="Nature Background" class="image-size">
      </div>

       <div class="w-100 "></div>
      <div class="col bottom-div">
      </div>
    </div>
  </div>


</div>

<app-navbar></app-navbar>
