.background-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-font-size {
  font-size: 6rem;
  color: rgba(195, 76, 13, 0.53);
  padding-top: 0.8em;
}

.custom-font-size-description {
  font-size: 1.2em;
  color: #803803;
  background: radial-gradient(circle, rgba(248, 189, 86, 0.42), rgba(195, 81, 138, 0.01));
  border-radius: 10%;
  margin-top: 5rem;
  padding: 1em;
}

.content-box {
  font-family: "Annie Use Your Telescope", cursive;
  color: white;
  font-size: 4em;
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.btn-outline-light {
  padding: 0.8rem 5rem;
  font-size: 2rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.btn-outline-light:hover {
  background: white;
  color: black;
}

.background-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 140, 0, 0.2);
}

.background-container h1,
.background-container p,
.btn-outline-light {
  color: white;
  z-index: 1;
}

.image-size {
  height: 80%;
  width: 80%;
  margin-top: 5.5em;
  border-top-left-radius: 100em;
  border-top-right-radius: 10em;
  border-bottom-left-radius: 60em;
  border-bottom-right-radius: 100em;
}

h2 {
  color: #ffffff;
}

.bottom-div {
  padding-bottom: 10%;
}



