/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Lora', serif;
  background-image: url('/assets/images/background-nature.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}
