<div class="container main-div">
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#">Home</a>
  <a class="list-group-item list-group-item-action" href="#">Statistics</a>
  <a class="list-group-item list-group-item-action" href="#">More Info</a>
</div>
    </div>

    <div class="col-sm-6">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="userInputText" [disabled]="false"
                    [placeholder]="'Dear diary...'"></ngx-editor>
        <button (click)="onSubmit()">Submit</button>
      </div>
    </div>

  <div class="col-sm-3">
      <div class="results">
        @for (emotion of emotionData; track emotion) {
        <div class="emotion">
          <i [ngClass]="getEmotionIcon(emotion.name)"></i>
          <span class="emotion-text">{{emotion.name}}: {{emotion.value}}%</span>
          <div class="vertical-line"></div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="w-100"></div>
  <div class="col bottom-div"></div>

</div>
