<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm"><h1>EMOTIONAL ANALYSIS DIARY</h1></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-8">
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      <ngx-editor [editor]="editor" [(ngModel)]="userInputText" [disabled]="false"
                  [placeholder]="'Dear diary...'"></ngx-editor>
      <button (click)="onSubmit()">Submit</button>
    </div>

    <ngx-charts-bar-horizontal
    [view]="[300, 50]"
    [scheme]="colorScheme"
    [results]="sentimentData"
    [legend]="showLegend"
    [showDataLabel]="showLabels">
  </ngx-charts-bar-horizontal>
   @if (sentimentLabel) {
  <div class="sentiment-label">
    {{ sentimentLabel }}
  </div>
   }
    <div class="row">
      <ngx-charts-pie-chart
        [view]="[400, 300]"
        [scheme]="colorScheme"
        [results]="emotionData"
        [gradient]="false"
        [legend]="showLegend"
        [labels]="showLabels">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
