.main-div {
  background-color: white;
  margin: 4em auto;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 90%;
  min-height: 800px;
  overflow: auto;
}

.NgxEditor__Wrapper {
  margin-top: 1em;
  border: 5px;
  border-radius: 10px;
  padding: 1em;
}

.results {
  padding-top: 2em;
}

.results .emotion {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  position: relative;
}

.results .emotion i {
  font-size: 1.4em;
  margin-right: 0.5em;
}

.col-cstm {
  min-height: 800px;
  overflow: hidden;
  border-left: #e1e1e1;
  border-top: white;
  border-right: #e1e1e1;
  border-bottom: white;
  border-style: double;
}

.results .emotion .emotion-text {
  font-size: 1em;
}

.results .emotion .vertical-line {
  position: absolute;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.bi-brilliance {
  color: #000000;
}

.bi-emoji-smile {
  color: yellow;
}

.bi-emoji-frown {
  color: blue;
}

.bi-emoji-angry {
  color: red;
}

.bi-emoji-astonished {
  color: purple;
}

.bi-emoji-expressionless {
  color: green;
}

.bi-emoji-neutral {
  color: grey;
}




